.MyApp {
  text-align: center;
}

.MyApp-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

body {
  background-color: #20303B;
}

/*
colors !
orange - F6A02E
black - 3D5F6E
white - F3F3EB
blue - A0C2DA
green - 63CA64
*/

.orange {
  color: #F6A02E
}
.black {
  color: #20303B
}
.white {
  color: #F3F3EB
}
.blue {
  color: #A0C2DA
}
.gray {
  color: #3E525B
}

/* adding this line to test committing again */

.bg-orange {
  background-color: #F6A02E
}
.bg-black {
  background-color: #20303B
}
.bg-white {
  background-color: #F3F3EB
}
.bg-blue {
  background-color: #A0C2DA
}
.bg-gray {
  background-color: #3E525B
}

/*
textbox input
*/
.textarea {
  width: 90%;
  height: 100px;
  box-sizing: border-box;
  border-radius: 0px;
  resize: none;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 100px;
  resize: none;
  outline: none;
  border: none;
  padding-top: 10px;
  padding-right: 100px;
  padding-left: 50px;
}

.textarea:hover::placeholder {
  color: #F3F3EB;
  opacity: 0.6;
}

.textarea::placeholder {
  color: #F3F3EB;
  opacity: 0.2;
}

.messaging {
   overflow: 'auto';
   height: 600px;
}

.message {
  max-width: 50%;
  width: fit-content;
  height: auto;
  padding: 20px;
  border-radius: 30px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  margin: 5px 0;
}

.message.user {
  color: #20303B;
  margin-left: auto; 
  margin-right: 0;
}

.message.bot {
  color: #F3F3EB;
  margin-right: auto; 
}

.container {
  max-height: 578px;
  overflow-y: auto;
  padding: 10px;
  border-radius: 5px;
}

.textarea-container {
  position: relative;
}

.send {
  position: absolute;
  right: 10%;
  bottom: 25px;
  cursor: pointer;
  width: 50px;
  height: 50px;
}